.banner-bg img {
  position: absolute;
  z-index: -1;
  top: -20px;
  width: 100%;
}

@media (max-width: 992px) {
  .header {
    background-image: url(../assets/about/Group\ 651.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.header {
  z-index: 1;
}

.header h1,
.header h2 {
  animation: fadeIn 1s ease-in;
}

.our-story h2 {
  line-height: 30px;
}

.our-mission u {
  text-decoration: underline;
  text-decoration-color: #b0a07d;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.stats h1 {
  letter-spacing: 3.2px;
}

.present {
  position: relative;
  overflow: hidden;
}
.present .background {
  position: absolute;
  width: 114%;
  z-index: -1;
}

.present .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #b0a07d;
  opacity: 0.1;
}

.present .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 540px) {
  .banner-bg img {
    position: absolute;
    z-index: -1;
    top: 75px;
    width: 100%;
  }
}
