.header {
  position: relative;
  background-image: url(../assets/png/blog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.next-3,
.prev-3 {
  max-width: 100px;
}

.content-list .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #b0a07d;
  opacity: 0.1;
}

.content-list {
  position: relative;
  background-image: url("../assets/about/Group\ 53.png");
  background-size: 125%;
}
