* {
  font-family: "Halant", serif;
}
@font-face {
  font-family: "ITCGaramondStd-LtCondIta";
  src: url("/assets/ITCGaramondStd-LtCondIta.otf") format("opentype");
}

.font-ITC {
  font-family: "ITCGaramondStd-LtCondIta";
}

@keyframes fadeIn {
  0% {
    position: relative;
    opacity: 0.2;
    top: 50px;
  }
  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

a {
  text-decoration: none !important;
}

.container {
  padding: 0 !important;
}

.contacts a:hover svg {
  fill: #fff;
  transition: fill 0.1s ease-in-out;
}

a.request:hover p {
  color: #b0a07b;
  transition: color 0.1s ease-in-out;
}

a.request p {
  color: #fff;
}

.present {
  position: relative;
  overflow: hidden;
}
.present .background {
  position: absolute;
  width: 114%;
  z-index: -1;
}

.present .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #b0a07d;
  opacity: 0.1;
}

.present .container {
  position: relative;
  z-index: 1;
}

.menu-btn button {
  background: none;
  position: fixed;
  right: -10px;
  top: 150px;
  border: none;
  z-index: 5;
}

.menu {
  position: fixed;
  width: 25%;
  height: 100vh;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: none;
}

.menu.active {
  display: block;
}
