* {
  font-family: "Halant", serif;
}

/*font-size*/
.header h1 {
  font-size: 60px !important;
}
.header h2 {
  font-size: 36px !important;
}
.header h4 {
  font-size: 40px !important;
}

h1 {
  font-size: 40px !important;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 16px !important;
}

@media (max-width: 992px) {
  .header h1 {
    font-size: 30px !important;
  }
  .header h2 {
    font-size: 20px !important;
  }
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 16px !important;
  }
}
@font-face {
  font-family: "ITCGaramondStd-LtCondIta";
  src: url("../assets/ITCGaramondStd-LtCondIta.otf") format("opentype");
  font-weight: 100;
  font-weight: 300;
  font-weight: 400;
}

.font-ITC {
  font-family: "ITCGaramondStd-LtCondIta", sans-serif;
}

.font-prompt {
  font-family: "Prompt", sans-serif;
}

@keyframes fadeIn {
  0% {
    position: relative;
    opacity: 0;
    top: 60px;
  }
  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeIn-left {
  0% {
    position: relative;
    left: -100px;
    opacity: 0;
  }
  100% {
    position: relative;
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn-right {
  0% {
    position: relative;
    right: -100px;
    opacity: 0;
  }
  100% {
    position: relative;
    opacity: 1;
    right: 0px;
  }
}

@keyframes fade {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}

@keyframes fadeout {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}
@media (min-width: 992px) {
  .fadeIn-left {
    animation: fadeIn-left 1s ease-in-out forwards;
  }

  .fadeIn-right {
    animation: fadeIn-right 1s ease-in-out forwards;
  }
  .delay-1 {
    animation-delay: 0.7s !important;
    opacity: 0;
  }

  .delay-2 {
    animation-delay: 1.4s !important;
    opacity: 0;
  }

  .delay-3 {
    animation-delay: 2.1s !important;
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out forwards;
}

.contact-us .fadeIn {
  animation-timing-function: ease-in-out;
}

a {
  text-decoration: none !important;
}

.container {
  padding: 0 !important;
}
.contacts a svg,
a.request p {
  transition: all 0.4s ease-in-out;
}

.contacts a:hover svg {
  fill: #fff;
  transition: fill 0.4s ease-in-out;
}

a.request:hover p {
  color: #b0a07b;
  transition: color 0.4s ease-in-out;
}

a.request p {
  color: #fff;
}

.present {
  position: relative;
  overflow: hidden;
}
.present .background {
  position: absolute;
  width: 114%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000;
  opacity: 0.05;
}
.bg {
  position: relative;
}
.bg .bg-left,
.bg .bg-right {
  position: absolute;
  width: 35vw;
}

.bg-left {
  top: 0;
  left: -25px;
}
.bg-right {
  top: 0;
  right: -150px;
}
.present .container {
  position: relative;
  z-index: 1;
}

.menu-btn button {
  background: none;
  position: fixed;
  right: -10px;
  top: 150px;
  border: none;
  z-index: 5;
}

.port-toggle:hover svg g {
  stroke: #b0a07b !important;
  transition: stroke 0.3s ease-in-out;
}
.port-toggle.active h1 {
  color: #b0a07b !important;
}
.port-toggle.active svg g {
  stroke: #b0a07b !important;
  transition: stroke 0.3s ease-in-out;
}
.port-toggle svg {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}
.port-toggle.active svg {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}
@media (min-width: 992px) {
  .menu {
    position: fixed;
    width: 450px !important;
    height: 100vh;

    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  .menu .logo-container {
    width: 250px;
    margin-right: 65px;
  }
  .vid-container iframe {
    width: 55% !important;
  }
}
@media (max-width: 992px) {
  .hidden {
    z-index: 1 !important;
    opacity: 0;
  }
  .navbar.hidden {
    opacity: 1;
  }
  .vid-container iframe {
    height: 200px !important;
    width: 85% !important;
  }
}

.nav-menu .to-top {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 20px;
}
.vid-container iframe {
  height: 400px;
}
.menu-open.hidden {
  z-index: 1;
}
.menu {
  position: fixed;
  width: 100vh;
  height: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menu-sm {
  position: fixed;
  width: 100vh;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menu-sm.active {
  z-index: 5;
  opacity: 1;
}

.menu.active {
  z-index: 5;
  opacity: 1;
}

.menu a:hover h1 {
  color: #b0a07b !important;
  transition: color 0.3s ease-in-out;
}

.primary-btn {
  border: 1px solid #b0a07b !important;

  transition: all 0.4s ease-in-out;
}
.primary-btn:hover {
  border: 1px solid #b0a07b !important;
  background: #fff !important;
  color: #b0a07b !important;
  transition: all 0.4s ease-in-out;
}
.primary-btn:hover h3,
.primary-btn:hover h5 {
  color: #b0a07b !important;
}

.footer .links a:hover h1,
.footer a:hover span {
  color: #b0a07b !important;
  transition: color 0.3s ease-in-out;
}

.footer a:hover img {
  filter: brightness(2);
  transition: filter 0.5s ease-in-out;
}
