* {
  font-family: "Halant", serif;
}
@font-face {
  font-family: "ITCGaramondStd-LtCondIta";
  src: url("../assets/ITCGaramondStd-LtCondIta.otf") format("opentype");
  font-weight: 100;
  font-weight: 300;
  font-weight: 400;
}

.font-ITC {
  font-family: "ITCGaramondStd-LtCondIta", sans-serif;
}

.font-prompt {
  font-family: "Prompt", sans-serif;
}

@keyframes fadeIn {
  0% {
    position: relative;
    opacity: 0.2;
    top: 50px;
  }
  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

@keyframes fadeIn-from-left {
  0% {
    position: relative;
    left: -100px;
    opacity: 0;
  }
  100% {
    position: relative;
    opacity: 1;
    left: 0;
  }
}

.header h1,
.header h2,
.header h3 {
  animation: fadeIn 1s ease-in;
}

a {
  text-decoration: none !important;
}

.container {
  padding: 0 !important;
}

.contacts a:hover svg {
  fill: #fff;
  transition: fill 0.1s ease-in-out;
}

a.request:hover p {
  color: #b0a07b;
  transition: color 0.1s ease-in-out;
}

a.request p {
  color: #fff;
}

.present {
  position: relative;
  overflow: hidden;
}
.present .background {
  position: absolute;
  width: 114%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000;
  opacity: 0.05;
}

.present .container {
  position: relative;
  z-index: 1;
}

.menu-btn button {
  background: none;
  position: fixed;
  right: -10px;
  top: 150px;
  border: none;
  z-index: 5;
}

.port-toggle:hover svg g {
  stroke: #b0a07b !important;
  transition: stroke 0.3s ease-in-out;
}
.port-toggle.active h1 {
  color: #b0a07b !important;
}
.port-toggle.active svg g {
  stroke: #b0a07b !important;
  transition: stroke 0.3s ease-in-out;
}
.port-toggle svg {
  transform: rotate(0deg);
  transition: transform 0.4s ease-in-out;
}
.port-toggle.active svg {
  transform: rotate(180deg);
  transition: transform 0.4s ease-in-out;
}
@media (min-width: 992px) {
  .menu {
    position: fixed;
    width: 450px !important;
    height: 100vh;

    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }
  .menu .logo-container {
    width: 250px;
    margin-right: 65px;
  }
  .vid-container iframe {
    width: 50% !important;
  }
}
@media (max-width: 992px) {
  .hidden {
    z-index: 1 !important;
    opacity: 0;
  }
  .navbar.hidden {
    opacity: 1;
  }
  .vid-container iframe {
    height: 200px !important;
    width: 85% !important;
  }
}

.nav-menu .to-top {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 20px;
}
.vid-container iframe {
  height: 400px;
}
.menu-open.hidden {
  z-index: 1;
}
.menu {
  position: fixed;
  width: 100vh;
  height: 100%;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menu-sm {
  position: fixed;
  width: 100vh;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.menu-sm.active {
  z-index: 5;
  opacity: 1;
}

.menu.active {
  z-index: 5;
  opacity: 1;
}

.menu a:hover h1 {
  color: #b0a07b !important;
  transition: color 0.3s ease-in-out;
}

.primary-btn:hover {
  border: 1px solid #b0a07b !important;
  background: #fff !important;
  color: #b0a07b !important;
  transition: background-color 0.3s ease-in-out;
}
.primary-btn:hover h5 {
  color: #b0a07b !important;
}

.footer .links a:hover h1 {
  color: #b0a07b !important;
  transition: color 0.3s ease-in-out;
}

.footer a:hover img {
  filter: brightness(2);
  transition: filter 0.5s ease-in-out;
}
