.header {
  position: relative;
  background-image: url(../assets/png/portfolio.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
a {
  text-decoration: none;
}

.topic a.active h4 {
  text-decoration: underline 2px #b0a07b;
  text-underline-offset: 5px;
}

.topic a:hover h4 {
  color: #b0a07b !important;
  text-decoration: underline 2px #b0a07b;
  text-underline-offset: 5px;

  transition: all 0.3s ease-in-out;
}
.topic a:hover {
  color: #b0a07b !important;
  text-decoration: underline 2px #b0a07b !important;
  text-underline-offset: 5px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1700px) {
  .brand .logo {
    height: 200px;
    width: 200px;
    margin-left: 0 !important;
  }
}

@media (min-width: 1500px) and (max-width: 1699px) {
  .brand .logo {
    height: 175px !important;
    width: 175px !important;
    margin-left: 0 !important;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .brand .logo {
    height: 155px !important;
    width: 155px !important;
    margin-left: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .brand .logo {
    height: 145px !important;
    width: 145px !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 992px) {
  .brand .logo {
    height: 145px;
    width: 145px;
  }
  .wine-category h4 {
    font-size: 18px !important;
  }
  .hover-wine {
    left: 30px !important;
  }
}

.brand .logo img {
  width: 100px;
  height: 100px;
}

.brand .logo {
  box-shadow: rgb(228, 225, 225) 0px 0px 15px 1px;
}

.brand .logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.topic .wine {
  position: relative;
}
.wine:hover .hover-wine {
  display: block;
  opacity: 1;
}
.hover-wine {
  position: absolute;
  background-color: #b0a07b;
  width: 264px;
  left: -65px;
  top: 50px;
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.hover-wine .triangle {
  position: absolute;
  left: 125px;
  top: -20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 25px solid #b0a07b;
}

.hover-wine a:hover h1 {
  text-decoration: underline;
  text-underline-offset: 5px;
}
