.header {
  position: relative;
  background-image: url(../assets/png/whats-new.png);
  background-repeat: no-repeat;
  background-size: 140%;
  overflow: hidden;
}

@media (max-width: 1400px) {
  .header {
    max-width: 500%;
    background-size: 200%;
    background-position: center;
  }
}

@media (max-width: 700px) {
  .header {
    max-width: 500%;
    background-size: 400% !important;
    background-position: center;
  }
}

.content-list {
  position: relative;
  overflow: hidden;
}
.content-list .bg {
  z-index: -1;
}

.content-list .bg-left {
  top: -150px;
  left: -150px;
  transform: rotate(15deg);
  width: 25vw;
}
.content-list .bg-right {
  top: 150px;
  right: -250px;
  transform: rotate(-15deg);
  width: 35vw;
}
.content-list .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  opacity: 0.05;
}

.content-list .row a:hover h2 {
  color: #b0a07d !important;
  transition: color 0.3s ease-in-out;
}
